@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f8fafc;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
}

/* Hide Next.js Development Indicators */
body>[data-nextjs-toast],
body>[data-nextjs-dialog],
#nextjs-dev-tools,
nextjs-portal {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
}